*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    
       
}
.container-card{ 
    background-color: #87e0a6;
    border-radius: 15px;
    box-shadow: 0px 8px 49px 0px rgba(0,0,0,0.68);
}

.first-container{
  display: flex;
}
h2 {
    margin: 5px;
    color: white;
}
.first-container img{
    width: 10em; 
}
.two-container-child h1{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    text-align: center;
    
}
.two-container-child div {
    display: flex;
    justify-content: space-around;
}
.two-container-child p{
    color: black;
    font-size: 18px;
    font-weight: 300;
      
}

.thre-container-child div {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    color: black
}

.for-container-child div {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    color: black
}
.button{
   display: flex;
   justify-content: space-around;  
}
button{
    height: 2em;
    width: 10em;
    border-radius: 15px;
}
